body{
  background-color: rgb(27, 27, 27);
}


//FONTS SECTION

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: local('SF-Pro-Display-Regular'), url('./theme/fonts/SF-Pro-Display-Regular.otf') format('otf');
}



/* RESET ALL MARGINS, PADDINGS, AND OTHER STYLES */
// --------------------------------------------------
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // Optional: Resets box-sizing to border-box for consistency
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// Reset headings, paragraphs, and other text elements
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

// Reset lists
ol, ul {
  list-style: none;
}

// Reset links
a {
  text-decoration: none;
  color: inherit;
}

// Reset forms
button, input, optgroup, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

// Reset buttons
button {
  background: none;
  border: none;
  cursor: pointer;
}

// Reset tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Reset images and embedded content
img, embed, iframe, object, video {
  max-width: 100%;
  height: auto;
  border: 0;
}

// Reset HTML5 elements
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}