.main-page {
  margin-left: 2vw;
  margin-right: 2vw;
  @include no-select;
  color: white;

  .slider {
    margin-right: 2vw;
    max-width: 400px;
  }

  .distance-sliders {
    margin-bottom: 100px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .image {
    height: 70px;
    width: 70px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .slider-info {
    display: flex;
  }

  .buttons-group {
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    align-items: flex-start; /* Center the buttons horizontally */
    gap: 10px; /* Add some space between the buttons */
    button {
      height: 4vh;
      width: 25vh;
    }
  }
}
